version: "3.9"

services:
  db:
    image: postgres:15
    container_name: tgbot_history_container
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: norilsk1
      POSTGRES_DB: tgbot_history_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
